body {
  background-color: #ffffff;
  font-family: "ProximaNovaCond",sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 10;
  color: #000000;
  line-height: 24px;
}

.top{
  height: 50px;
  border: solid #888888;
  border-width: 0px 0px 1px 0px;
}

/*
.page{
  min-width: 64em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  margin: 0 auto;
  max-width: 63rem;
  width: 100%;
  max-width: 1336px;
}

.sidebar {
  display: block;
  width: 33.5%;
  float: left;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  border-right: 1px solid #e5e5e5;

  padding: 0 1.12rem;
  position: relative;
*/
  /*position: relative;*/
  /*bottom: 0;
  z-index: 2;
  top: 0;
}

.main {
  width: 66.5%;
  float: right;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-left: 1px solid #e5e5e5;
  left: -1px;

  padding: 0 1.12rem;
  position: relative;
}*/
