<head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "nfldata/style.css" %}">
</head>

<body>

  <div class="top">
      Who is the greatest.
  </div>

  <div class="page">
    <div class="sidebar">
      Hello world.
    </div>

    <div class="main">
      <ul>
      {% for player in players %}
          <li>{{ player.name }}</li>
      {% endfor %}
      </ul>
      abcdef hello world hello world.  This is the world width test.  Still testing wrapping and total width.
    </div>
  </div>
</body>
